<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Omar_Eltohamy_Calculator_Project1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5ED5A8D1F688B0C0092ED92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5ED5AA11F688B0D0092ED92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5ED5AAC1F688B0D0092ED92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
